<div class="horizontal-top">
  <div class="inner" id="red-horizontal"></div>
  <div class="inner" id="yellow-horizontal"></div>
  <div class="inner" id="green-horizontal"></div>
</div>

<div class="horizontal-bottom">
  <div class="inner" id="red-horizontal"></div>
  <div class="inner" id="yellow-horizontal"></div>
  <div class="inner" id="green-horizontal"></div>
</div>
<div class="vertical-left">
  <div class="inner" id="red-vertical"></div>
  <div class="inner" id="yellow-vertical"></div>
  <div class="inner" id="green-vertical"></div>
</div>

<div class="vertical-right">
  <div class="inner" id="red-vertical"></div>
  <div class="inner" id="yellow-vertical"></div>
  <div class="inner" id="green-vertical"></div>
</div>


<button class="buttonSpecial" id="buttonSpecial" (click)="processYellowLights()" [disabled]="specialButtonClicked">Technical
  difficulties</button>
@if(showIncorrectCrossing){
<div class="message">Incorrect crossing</div>
}

<div class="crossBtnTop">
  <button class="button" (click)="processCrossing()" [disabled]="isRedHor">Cross</button>

</div>
<div class="crossBtnBottom">
  <button class="button" (click)="processCrossing()" [disabled]="isRedHor">Cross</button>

</div>
<div class="crossBtnLeft">
  <button class="button" (click)="processCrossing()" [disabled]="isRedVer">Cross</button>

</div>
<div class="crossBtnRight">
  <button class="button" (click)="processCrossing()" [disabled]="isRedVer">Cross</button>

</div>